img.logo {
  display: block; 
  margin: 10px auto;
}
#index {
  margin-top: 40px;
  width: 75%;
}
#index a :first-child {
  float: right;
}
#tags {
  float: right;
  width: 20%;
  margin-top: 40px;
  background-color: #f6f7fb;
  padding-bottom: 10px;
}
#tags h3 {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5px 10px;
  background-color: #3D5C9D;
  color: #fff;
  margin-top: 0;
  font-weight: normal;
}
#tags .tag {
  font-size: 100%;
  padding: 5px 10px;
}
.tag {
  cursor: pointer;
}
#filter_tag {
  font-weight: bold;
}
#filter {
  background: #ffff88;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}
.sample {
  padding: 10px 5px;
  border-bottom: 1px solid #E9EEFA;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
}
.sample:last-child {
  border: none;
}

.sample:hover {
  background-color: #f5f5f5;
}
#index h2 { 
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
}
h2 {
  margin-bottom: 0;
}
h2 a {
  color: #3d5c9d;
  text-decoration: none;
}
h2 a:hover {
  color: #3D5C9D;
  text-decoration: underline;
}
.sample .summary {
  color: #333;
  margin: 10px 0;
}
.sample .buttonlink,
.sample .buttonlink a {
  color: #3d5c9d;
}
.sample .browser_logos,
.sample .browser_logos .supported,
.sample .browser_logos span {
  opacity: 0;
}
.sample:hover .browser_logos,
.sample:hover .browser_logos .supported {
  opacity: 1;
}
.sample:hover .browser_logos span {
  opacity: 0.25;
}