{% extends "base.html" %}

{% block body %}
  {% include "header.html" %}
  <nav>
    <p class="breadcrumb">
      <a class="buttonlink" href="/">
        <span>Home</span>
      </a >&gt; Privacy
    </p>
  </nav>
  <article>
    <header>
      <h1>{% block pagetitle %}{% endblock %}</h1>
    </header>
    <section>
      <p>The HTML5ROCKS website (the "Website") is hosted by Google and, as such, for the purposes of personal information,
        the Website operates as any other Google service. Google's Privacy Policy is available at
        <a href="http://www.google.com/privacy.html">http://www.google.com/privacy.html</a>.</p>
    </section>
  </article>
  {% include "footer.html" %}
{% endblock %}