{% extends "base.html" %}

{% block headtitle %}Home{% endblock %}

{% block head %}
  <style type="text/css" media="screen">
    .resource-list { 
      list-style: none;
      padding-left: 0;
    }
    .resource-list .buttonlink a[href^='http']:not([href*='html5rocks.']) {
      background: transparent url(data:image/png;base64,R0lGODlhCQAMAMQAAPr7/Cpdi6q/0X2duURxmjRlkfz9/vz8/TVlkae8z4+qwoWivTlplDVmkvv8/Up1nUVymvn6/LrL2i1gjStejKS6zkNwmUFvmD5slkJwmbjJ2DZnkqm90Cdbiv///wAAACH5BAEAAB4ALAAAAAAJAAwAAAU6oCeOY7R0aNoByWURQUoOMTpqD0p1Ird1hEGGJ/gVJB5Ip9gpcESYDqOD4BxEFcWkwTGMHACSeDwKAQA7) no-repeat center right;
      padding-right: 14px;
    }
    .resource-list li { 
      padding-top: 10px;
      padding-bottom: 0; 
      width: 30%;
      float: left;
      border-bottom: none;
      height: 180px;
      margin-right: 10px;
    }
    .resource-list img {
      display: block;
      width: 200px;
      height: 89px;
      padding: 5px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }
    .resource-category {
      font-size: 20px;
      font-weight: bold;
      font-family: 'Droid Sans';
      clear: both;
      color: black;
      display: block;
      border-bottom: 1px solid #ddd;
      padding: 34px 0px 17px 0;
      text-transform: uppercase;
    }
  </style>
{% endblock %}

{% block body %}
{% include "section_header.html" %}
<div>
  <section>
    <h2 class="resource-category">Reference</h2>
    <ul class="resource-list">
      <li>
        <a href="http://html5readiness.com"><img data-resource="http://html5readiness.com" src="static/images/screenshots/html5readiness.png" /></a>
        <span class="buttonlink"><a href="http://html5readiness.com">HTML5 Readiness</a></span>
        : Visual timeline of HTML5 feature support.
      </li>
      <li>
        <a href="http://caniuse.com"><img data-resource="http://caniuse.com" src="static/images/screenshots/whencaniuse.png" /></a>
        <span class="buttonlink"><a href="http://caniuse.com">When Can I Use...</a></span>
        : Up to date HTML5 feature browser support reference.
      </li>
      <li>
        <a href="http://beta.html5test.com/"><img data-resource="http://beta.html5test.com/" src="static/images/screenshots/html5tests.png" /></a>
        <span class="buttonlink"><a href="http://beta.html5test.com/">HTML5 Test</a></span>
        : Series of browser tests to evaluate feature support.
      </li>
     <!-- <li>
        <a href="http://www.findmebyip.com/litmus/"><img data-resource="http://www.findmebyip.com/litmus/" src="static/images/screenshots/findmebyip.png" /></a>
        <span class="buttonlink"><a href="http://www.findmebyip.com/litmus/">Web Designer's Checklist</a></span>
        : Detailed browser feature support reference.
      </li> -->
      <li>
        <a href="http://www.focus.com/images/view/11905/"><img data-resource="http://www.focus.com/images/view/11905/" src="static/images/screenshots/html5visual.png" /></a>
        <span class="buttonlink"><a href="http://www.focus.com/images/view/11905/">HTML5 Infographic</a></span>
        : A quick overview of scope and support.
      </li>
      <li>
        <a href="http://dev.w3.org/html5/spec-author-view/"><img data-resource="http://dev.w3.org/html5/spec-author-view/" src="static/images/screenshots/w3devview.png" /></a>
        <span class="buttonlink"><a href="http://dev.w3.org/html5/spec-author-view/">W3C HTML5 Web Author View</a></span>
        : Lightweight version of the W3c spec, perfect for web developers.
      </li>
      <li>
        <a href="http://dev.chromium.org/developers/web-platform-status"><img data-resource="http://dev.chromium.org/developers/web-platform-status" src="static/images/screenshots/status.png" /></a>
        <span class="buttonlink"><a href="http://dev.chromium.org/developers/web-platform-status">Chrome Implementation Status</a></span>
        : Follow the engineering effort for cutting edge support from the Chrome team.
      </li>
      <li>
        <a href="http://diveintohtml5.org/"><img data-resource="http://diveintohtml5.org/" src="static/images/screenshots/diveinto.png" /></a>
        <span class="buttonlink"><a href="http://diveintohtml5.org/">Dive into HTML5 by Mark Pilgrim</a></span>
        : Learn HTML5 and have a laugh at the same time.
      </li>
      <li>
        <a href="http://en.wikipedia.org/wiki/Comparison_of_layout_engines_(HTML5)"><img data-resource="http://en.wikipedia.org/wiki/Comparison_of_layout_engines_(HTML5)" src="static/images/screenshots/wikipedia.png" /></a>
        <span class="buttonlink"><a href="http://en.wikipedia.org/wiki/Comparison_of_layout_engines_(HTML5)">HTML5: Comparison of Layout Engines</a></span>
        : If the Wikipedia says it then it must be true.
      </li>
      <li>
        <a href="http://developer.apple.com/safari/"><img data-resource="http://developer.apple.com/safari/" src="static/images/screenshots/safaridocs.png" /></a>
        <span class="buttonlink"><a href="http://developer.apple.com/safari/">Safari HTML5 Guides</a></span>
        : Excellent WebKit-oriented development documentation.
      </li>
      <li>
        <a href="https://developer.mozilla.org/en/HTML/HTML5"><img data-resource="https://developer.mozilla.org/en/HTML/HTML5" src="static/images/screenshots/mdc.png" /></a>
        <span class="buttonlink"><a href="https://developer.mozilla.org/en/HTML/HTML5">Mozilla Development Center HTML5 Reference</a></span>
        : Excellent documentation and guides.
      </li>
      <li>
        <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/"><img data-resource="http://www.whatwg.org/specs/web-apps/current-work/multipage/" src="static/images/screenshots/wgfullspec.png" /></a>
        <span class="buttonlink"><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/">WhatWG Web Apps Spec (HTML5 plus the kitchen sink)</a></span>
        : Working draft spec of everything under the larger HTML5 umbrella.
      </li>
      <li>
        <a href="http://kangax.github.com/es5-compat-table/"><img data-resource="http://kangax.github.com/es5-compat-table/" src="static/images/screenshots/kangax.png" /></a>
        <span class="buttonlink"><a href="http://kangax.github.com/es5-compat-table/">ECMAScript 5 table</a></span>
        : Detailed table of ES5 support across browsers.
      </li>
      <li>
        <a href="http://www.quirksmode.org/compatibility.html"><img data-resource="http://www.quirksmode.org/compatibility.html" src="static/images/screenshots/quirks.png" /></a>
        <span class="buttonlink"><a href="http://www.quirksmode.org/compatibility.html">Compatibility Tables</a></span>
        : Results of DOM and CSS properties tests in major browsers.
      </li>
    </ul>
  </section>
  <section>
    <h2 class="resource-category">Tools</h2>
    <ul class="resource-list">
      <li>
        <a href="http://www.modernizr.com/"><img data-resource="http://www.modernizr.com/" src="static/images/screenshots/modernizr.png" /></a>
        <span class="buttonlink"><a href="http://www.modernizr.com/">Modernizr</a></span>
        : Javascript library for feature detection and control fallback cases of HTML5.
      </li>
      <li>
        <a href="http://code.google.com/p/html5shiv/"><img data-resource="http://code.google.com/p/html5shiv/" src="static/images/screenshots/html5shiv.png" /></a>
        <span class="buttonlink"><a href="http://code.google.com/p/html5shiv/">html5 shiv</a></span>
        : Javascript patch to make IE support, and print, the new tag elements.
      </li>
      <li>
        <a href="http://css-tricks.com/examples/ButtonMaker/"><img data-resource="http://css-tricks.com/examples/ButtonMaker/" src="static/images/screenshots/buttongen.png" /></a>
        <span class="buttonlink"><a href="http://css-tricks.com/examples/ButtonMaker/">CSS Button Maker</a></span>
        : Preview CSS buttons with a fancy interface to play with the parameters.
      </li>
      <li>
        <a href="http://css3generator.com/"><img data-resource="http://css3generator.com/" src="static/images/screenshots/cssgen.png" /></a>
        <span class="buttonlink"><a href="http://css3generator.com/">CSS3 Generator</a></span>
        : Preview CSS buttons with a fancy interface to play with the parameters.
      </li>      
      <li>
        <a href="http://www.westciv.com/tools/gradients/index.html"><img data-resource="http://www.westciv.com/tools/gradients/index.html" src="static/images/screenshots/sandbox.png" /></a>
        <span class="buttonlink"><a href="http://www.westciv.com/tools/gradients/index.html">CSS3 Sandbox</a></span>
        : Test and get the code of the fanciest CSS features.
      </li>
      <li>
        <a href="http://gradients.glrzad.com/"><img data-resource="http://gradients.glrzad.com/" src="static/images/screenshots/gradientgen.png" /></a>
        <span class="buttonlink"><a href="http://gradients.glrzad.com/">CSS3 Gradient Generator</a></span>
        : Generate CSS code for gradients on the fly.
      </li>
      <li>
        <a href="http://css3please.com/"><img data-resource="http://css3please.com/" src="static/images/screenshots/css3please.png" /></a>
        <span class="buttonlink"><a href="http://css3please.com/">CSS3 Please</a></span>
        : Use CSS3 without having to worry about xbrowser differences.
      </li>
      <li>
        <a href="http://labs.thecssninja.com/font_dragr/"><img data-resource="http://labs.thecssninja.com/font_dragr/" src="static/images/screenshots/font_dragr.png" /></a>
        <span class="buttonlink"><a href="http://labs.thecssninja.com/font_dragr/">Font Dragr</a></span>
        : Test your fonts using drag and drop.
      </li>
      <li>
        <a href="http://www.fontsquirrel.com/fontface/generator"><img data-resource="http://www.fontsquirrel.com/fontface/generator" src="static/images/screenshots/squirrel.png" /></a>
        <span class="buttonlink"><a href="http://www.fontsquirrel.com/fontface/generator">Font Squirrel Generator</a></span>
        : Most complete tool to generate code for you font-face support.
      </li>
      <li>
        <a href="http://code.google.com/speed/tools.html"><img data-resource="http://code.google.com/speed/tools.html" src="static/images/screenshots/speed.png" /></a>
        <span class="buttonlink"><a href="http://code.google.com/speed/tools.html">Let's make the web faster</a></span>
        : Complete list of tools related to web performance.
      </li>
    </ul>
  </section>
  
  <section>
    <h2 class="resource-category">Community</h2>
    <ul class="resource-list">
      <li>
        <a href="http://html5watch.tumblr.com/"><img data-resource="http://html5watch.tumblr.com/" src="static/images/screenshots/html5watch.png" /></a>
        <span class="buttonlink"><a href="http://html5watch.tumblr.com/">HTML5 Watch</a></span>
      </li>
      <li>
        <a href="http://css3watch.com/"><img data-resource="http://css3watch.com/" src="static/images/screenshots/css3watch.png" /></a>
        <span class="buttonlink"><a href="http://css3watch.com/">CSS3 Watch</a></span>
      </li>
      <li>
        <a href="http://html5doctor.com/"><img data-resource="http://html5doctor.com/" src="static/images/screenshots/doctor.png" /></a>
        <span class="buttonlink"><a href="http://html5doctor.com/">HTML5 Doctor</a></span>
      </li>
      <li>
        <a href="http://blog.whatwg.org"><img data-resource="http://blog.whatwg.org" src="static/images/screenshots/whatwgblog.png" /></a>
        <span class="buttonlink"><a href="http://blog.whatwg.org">WhatWG Blog</a></span>
      </li>
      <li>
        <a href="http://html5demos.com"><img data-resource="http://html5demos.com" src="static/images/screenshots/html5demos.png" /></a>
        <span class="buttonlink"><a href="http://html5demos.com">HTML5 Demos</a></span>
      </li>
      <li>
        <a href="http://ajaxian.com/"><img data-resource="http://ajaxian.com/" src="static/images/screenshots/ajaxian.png" /></a>
        <span class="buttonlink"><a href="http://ajaxian.com/">Ajaxian</a></span>
      </li>
      <li>
        <a href="https://groups.google.com/a/chromium.org/group/chromium-html5/topics"><img data-resource="https://groups.google.com/a/chromium.org/group/chromium-html5/topics" src="static/images/screenshots/chromium.png" /></a>
        <span class="buttonlink"><a href="https://groups.google.com/a/chromium.org/group/chromium-html5/topics">Chromium HTML5 Discussion Group</a></span>
      </li>
      <li>
        <a href="http://hacks.mozilla.org/"><img data-resource="http://hacks.mozilla.org/" src="static/images/screenshots/hackmozilla.png" /></a>
        <span class="buttonlink"><a href="http://hacks.mozilla.org/">Mozilla Hacks</a></span>
      </li>
      <li>
        <a href="http://developer.apple.com/safaridemos/"><img data-resource="http://developer.apple.com/safaridemos/" src="static/images/screenshots/safaridemos.png" /></a>
        <span class="buttonlink"><a href="http://developer.apple.com/safaridemos/">Safari HTML5 Demos</a></span>
      </li>
      <li>
        <a href="http://ie.microsoft.com/testdrive/"><img data-resource="http://ie.microsoft.com/testdrive/" src="static/images/screenshots/ie9testdrivedemos.png" /></a>
        <span class="buttonlink"><a href="http://ie.microsoft.com/testdrive/">Test Drive IE9 Demos</a></span>
      </li>
      <li>
        <a href="http://dev.opera.com/articles/tags/open%20web/"><img data-resource="http://dev.opera.com/articles/tags/open%20web/" src="static/images/screenshots/opera.png" /></a>
        <span class="buttonlink"><a href="http://dev.opera.com/articles/tags/open%20web/">Open Web - Opera Developer Community</a></span>
      </li>
      <li>
        <a href="http://www.chromeexperiments.com/"><img data-resource="http://www.chromeexperiments.com/" src="static/images/screenshots/experiments.png" /></a>
        <span class="buttonlink"><a href="http://www.chromeexperiments.com/">Chrome Experiments</a></span>
      </li>
    </ul>
  </section>
  
</div>

  {% include "footer.html" %}
{% endblock %}
