{% extends "../../../base.html" %}

{% block body %}
  {% include "../../../section_header.html" %}
  <nav>
      <p class="breadcrumb">
        <a class="buttonlink" href="/">
          <span>Home</span>
        </a >&gt; 
        <a class="buttonlink" href="/tutorials/">
          <span>Tutorials</span>
        </a> &gt; {% block pagebreadcrumb %}{% endblock %}
     </p>
  </nav>
  <article>
    <header>
      <h1>{% block pagetitle %}{% endblock %}</h1>
      <div>
        <span class="date">
          {% block pageauthor %}{% endblock %}, <time pubdate>{% block date %}{% endblock %}</time>
        </span>
        <span id="share_buttons">
          <ul>
            <li><a title="Post to Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-count"></a></li>
            <li><iframe src="http://www.facebook.com/plugins/like.php?href={{self_url}}&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
            <li>
              <iframe src="http://pro.tweetmeme.com/button.js?url={{self_url}}&style=compact&source=ChromiumDev&service=bit.ly" height="20" width="100" frameborder="0"></iframe>
            </li>
          </ul>
        </span>
      </div>
      <span class="browser_support">
        <span>Supported browsers:</span>
        <span class="browser_logos">{% block browsersupport %}{% endblock %}</span>
      </span>
    </header>
    <section>
      <div class="compatible-block"> 
        <p id="notcompatible" class="hidden">
          {% block notcompatible_text %}
          Your browser may not support all of
          the functionality used in this sample.
          {% endblock %}
        </p>
        <p id="compatible" class="hidden">
          {% block compatible_text %}
          Your browser appears to support
          all of the functionality used in this sample.
          {% endblock %}
        </p>
      </div>
    </section>
    <nav>
      {% toc %}
    </nav>
    <section>
    {% block content %}{% endblock %}
    </section>
  </article>
  <p class="cc">
    Except as otherwise <a href="http://code.google.com/policies.html#restrictions">noted</a>, the content of this
    page is licensed under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>, <br>
    and code samples are licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 License</a>.
  </p>
  
  <!-- Include the Google Friend Connect commenting widget. -->
  <script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>
  <div id="commentwidget" style="width:750px;border:1px solid #dddddd;"></div>
  <script >
    var skin = {
      'BORDER_COLOR' : '#bbbbbb',
      'ENDCAP_BG_COLOR' : '#ffffff',
      'ENDCAP_TEXT_COLOR' : '#333333',
      'ENDCAP_LINK_COLOR' : '#3D5C9D',
      'ALTERNATE_BG_COLOR' : '#ffffff',
      'CONTENT_BG_COLOR' : '#ffffff',
      'CONTENT_LINK_COLOR' : '#3D5C9D',
      'CONTENT_TEXT_COLOR' : '#333333',
      'CONTENT_SECONDARY_LINK_COLOR' : '#7777cc',
      'CONTENT_SECONDARY_TEXT_COLOR' : '#666666',
      'CONTENT_HEADLINE_COLOR' : '#333333',
      'DEFAULT_COMMENT_TEXT' : '- add your comment here -',
      'HEADER_TEXT' : 'Comments',
      'POSTS_PER_PAGE' : '10'
    };
    google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
    google.friendconnect.container.renderWallGadget({ 
      id: 'commentwidget',
      site: '15108112428066739004',
       'view-params': {
         "disableMinMax":"false",
         "scope":"PAGE",
         "startMaximized":"false"
        }
     }, skin);
  </script>
  
 
  
  
  {% include "../../../footer.html" %}
  <script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
{% endblock %}